<!DOCTYPE html>
<html style="font-size: 7.09896px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>玫瑰币</title>
    <meta name="keywords" content="玫瑰币,玫瑰,虚拟币">
    <meta name="description" content="">
    <meta name="robots" content="all">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-title" content="玫瑰币">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-1.9.1.min.js"></script>
    <style>
        img{
            vertical-align:top;
            display:block
        }
    </style>
</head>
<body>
<div id="about-section" style="text-align: center">
    <p><img src="/img/rose01.jpg" style="width: 100%"/></p>
    <p><img src="/img/rose02.jpg" style="width: 100%"/></p>
    <p><img src="/img/rose03.jpg" style="width: 100%"/></p>
    <p><img src="/img/rose04.jpg" style="width: 100%"/></p>
    <p><img src="/img/rose05.jpg" style="width: 100%"/></p>
    <p><img src="/img/rose06.jpg" style="width: 100%"/></p>
</div>
<script src="/js/index.js"></script>
</body>
</html>